.test {
    border: 1px solid rgb(91, 86, 86);
    height: 200px;
    margin: 20px;
    background-color: brown;
}

.app {
    background-color: cadetblue;
}
.counter{
    background-color: blueviolet;
    margin: 20px;
    border: 1px solid rgb(91, 86, 86);
    height: 2%;
}
.reducer{
    background-color: rgb(26, 95, 97);
    color: wheat;
    height: 200px;
    margin: 20px;
}

.countSpan {
    /* min-width: 50px;
    min-height: 50px; */
    font-size: 35px;
    font-weight: bolder;
    background-color: white;
    color: darkblue;

}